html {
    background-image: linear-gradient(#72ffff7e, #5900ff7e);
    height: 100%;
}

h2 {
    color: white;
    text-shadow: 2px 2px gray;
    font-size: 3rem;
    padding: 15px 0px;
    text-align: center;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    border: 10px;
    padding: 10px 20px;
    background-color: cornflowerblue;
    font-size: 18px;
}


.mainContainer {
    margin: 100px auto;
    display: flexbox;
    border-radius: 5%;
    background-color: #5800FF;
    width: 900px;
    height: 500px;
}



/* This is the text box */
#myInput {
    padding: 10px;
    float: left;
    font-size: 16px;
    margin: 0;
    border: none;
    border-radius: 0;
}


/* The entire form including the button */
.createItem {
    display: flex;
    /* verticle */
    align-items: center;
    /* horizontal */
    justify-content: center;
    background-color: #00D7FF;
    width: 900px;
    height: 75px
}



.addBtn {
    text-align: center;
    padding: 10px;
    /* width: 25%; */
    background-color: darkgray ;
    font-size: 16px;
    transition: 0.3s;
    float: left;
    cursor: pointer;
}

.addBtn:hover {
    background-color: gray;
}

footer {
    padding-top: 50px;
    text-align: center;
}